<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoAnimationScrollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1F1C5321D5972D000BD2B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F1C54B1D5972D000BD2B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F1C5561D5972D000BD2B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
